@keyframes wall {
    0%   {background-color: deepskyblue;}
    25%  {background-color: yellow;}
    50%  {background-color: green;}
    100% {background-color: blue;}
}

.background    { background: #00ff00 url("http://33.media.tumblr.com/5d7e05a615adf96b9735f207b604ef33/tumblr_nnm99lFffX1tbgnn1o1_500.gif");
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background-image: url("http://i.imgur.com/b2UvYeX.gif"); }
.wall          { background: deepskyblue;
                 animation-name: wall;
                animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;}

.actor  { position: absolute;  }
.coin   { background-image: url("http://i.imgur.com/NEoCtap.png"); }
.player { background-image: url("http://i.imgur.com/eCOzddU.gif"); }
.enemy { background-image: url("http://fenrir.finalfantasyq.com/mm/mmx2/x2scorpion.gif"); }

.game {
  overflow: hidden;
  max-width:  500px;
  max-height: 500px;
  position: relative;
}

.lost .player  { background-image: url("http://i.imgur.com/Nl92o2M.gif"); }
.won .player   { background-image: url("http://i.imgur.com/I1qzcGN.gif"); }

html {
    display: table;
    margin: auto;
	background-color: black;
}

body {
    display: table-cell;
    vertical-align: middle;
}

p {
	text-align: center;
	color: white;
	font-family: "Impact", Charcoal, sans-serif;
	font-size: 3em;
}